---
layout: default
---

<div class="home">

	<h1 class="page-heading">Temporary Home of the As-Perod Campaign Notes</h1>
	
	<p>
		I plan to fix at least some of the wiki formatting issues to make the pages more readable and perhaps get the links working.  However, I'm not going to spend too much time on them.  I would rather invest in finding a free home for the pages where we can continue to update them collectively.
	</p>
	
	<p>I might even write my own mini-wiki that runs on the Heroku elastic computing service.  Because that's the kind of thing I do for fun.</p>
	
	<p>The original wikispaces file are available for download as an archive (<a href="files/as-perod.zip">zip</a>).</p>
	
  <h1 class="page-heading">Page Index</h1>

	<div class="columnated">
        {% for page in site.pages %}
          {% if page.title %}
          <p><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
          {% endif %}
        {% endfor %}
    </div>

</div>
